<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='An incredibly over-engineered blog.'>
<meta name='author' content='@erickbrower'>

<title>@erickbrower</title>

<!-- Bootstrap core CSS -->
<link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
<link href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' rel='stylesheet'>

<!-- Custom styles for this template -->
<link href='/css/main.css' rel='stylesheet'>

</head>
<body>
<div class='container'>
  <div class='blog-header'>
    <h1 class='blog-title'><a href='/' style='text-decoration: none;'>erickbrower</a></h1>
    <p class='lead blog-description'>I write code. Sometimes.</p>
  </div>
  <div id='main-content' class='row'>
  </div>
  <!-- /.row -->
</div>
<div class='blog-footer'>
  <p>Blog template built for <a href='http://getbootstrap.com'>Bootstrap</a> by <a
    href='https://twitter.com/mdo'>@mdo</a>.</p>
  <p>
  <a href='#'>Back to top</a>
  </p>
</div>
<!-- /.footer -->

<!-- JavaScripts
================================================== -->
<script src='/bower_components/es5-shim/es5-shim.js'></script>
<script src='/bower_components/es5-shim/es5-sham.js'></script>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='/js/dist/bundle.js'></script>

</body>
</html>
